//
   Created by ianwu on 23/11/2016.

doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/intranet.css')
    body
        block content
