//
   Created by itdwyy on 5/15/2017.
doctype html
html(lang="en")
    body
        form(action='/login', method='post')
            label UserName:
            input(name="username")
            label Password:
            input(type='password',name="password")
            input(type='submit')
