//Created by itdwyy on 3/7/2017.
doctype html
html(lang="en")
    include include/header
body
    include include/nav
    .bodyfixheader
        p= message
script(src='/javascript/includes/jquery-1.12.4.min.js')
script(src='/javascript/includes/intranet.js')
script(src='/javascript/pages/search.js')
