//
   Created by itdwyy on 12/13/2016.
//Created by itdwyy on 12/2/2016.
doctype html
html(lang="en")
    include include/header
body
    include include/nav
    .tele-content.wrapper-960
        .sidebar.phoneHidden
            .nav-list-v.teleList.left
                .menu-header Headquarter
                    ul#headQuarter.menu-root
                .menu-header Outstaion
                    ul#outStation.menu-root

        #contacts-content
            .amSelects#phone-select.desktop-hidden.phoneShow-inline-block
                .select-group
                    p.title Location
                    select#location-select.amSelect
                        option.phoneOption(value=null) ---
                .select-group
                    p.title Department
                    select#Dept-select.amSelect
                        option.phoneOption(value=null) ---
                .select-group
                    p.title Divsion
                    select#Div-select.amSelect
                        option.phoneOption(value=null) ---
                button#selectSearchBtn.row-btn Search
                p#selectAlert.alert.hidden At least one Department should be selected.
            #phone-result
    //include include/footer
script(src='/javascript/includes/jquery-1.12.4.min.js')
script(src='/javascript/includes/smooth-scroll.min.js')
script(src='/javascript/includes/intranet.js')
script(src='/javascript/pages/telephoneSearch.js')


