//
   Created by itdwyy on 12/13/2016.
//Created by itdwyy on 12/2/2016.
doctype html
html(lang="en")
    include include/header
    link(rel='stylesheet',href = 'stylesheets/telephone/telephone.css')
body
    include include/nav
    .wrapper-960
        .sidebar
            .nav-list-v.teleList.left
                .header Headquarter
                ul.menu-root
                    li
                        a.sidebar-link Chairman Office
                    li
                        a.sidebar-link CEO Office
                    li
                        a.sidebar-link General Affairs
                    li
                        a.sidebar-link Commercial
                    li
                        a.sidebar-link Finance
                    li
                        a.sidebar-link Flight Operations
                    li
                        a.sidebar-link Engineering & Maintenance
                    li
                        a.sidebar-link Customer Services



script(src='/javascript/includes/jquery-1.12.4.min.js')

script(src='/javascript/pages/telephoneSearch.js')