//
   Created by itdwyy on 12/13/2016.
//Created by itdwyy on 12/2/2016.
doctype html
html(lang="en")
    include include/header
body
    include include/nav
    .tele-content.wrapper-960
        .sidebar
            .nav-list-v.teleList.left
                .menu-root
                    .header Headquarter
                    ul#headQuarter
                .menu-root
                    .header Outstaion
                    ul#outStation

        #contacts-content
    //include include/footer
//script(src='/javascript/includes/jquery-1.12.4.min.js')
script(src='/javascript/includes/jquery-dev.js')
script(src='/javascript/includes/smooth-scroll.min.js')
script(src='/javascript/includes/intranet.js')
script(src='/javascript/pages/telephoneSearch.js')


