//
   Created by itdwyy on 1/16/2017.

.default-footer
    .mark-container.wrapper-960
        p.title Remark
        span.info information posted on the AirMacau Intranet are intellectual properties of AirMacau. Any removal or circulation of the materials and information outside AirMacau without proper authorization will be subject to disciplinary action or dismissal.