//
   Created by itdwyy on 12/3/2016.
.wrapper-960.news-area
    .slide-container
        .slide-images
            a.img(style='background-image: url(http://champagneandstilettos.com/wp-content/uploads/2012/08/louis-vuitton-1-thumb-550x385.jpg)')

    .right-new-panel
