//
   Created by itdwyy on 12/2/2016.
.nav
    .wrapper-960
        .nav-logo
            a(style={background:''})
        .nav-form
            form
                input.search.scaler
        ul.nav-list-v
            -
                var departments = ['General Affairs(GAD)','Commercial(COM)','Finance(FIN)','Flight Operations(FLT)']
            li.nav-item
                a(href='#') Home
            li.nav-item
                a(href='#') Telephone
            li.nav-item
                a(href='#') Department
                    ul.drp-list-v
                        each item in departments
                            li.drp-list-item
                                a(href='#')= item
            li.nav-item
                a(href='#') Download
            li.nav-item
                a(href='#') Help




