//
   Created by itdwyy on 12/2/2016.
.nav.z-depth-1
    .wrapper-960
        a.nav-logo.cp-logo
        ul.nav-list-h
            -
                var departments = ['General Affairs(GAD)','Commercial(COM)','Finance(FIN)','Flight Operations(FLT)']
            li.nav-item.cur
                a(href='#') Home
            li.nav-item
                a(href='#') Telephone
            li.nav-item
                a(href='#') Department
                    ul.drp-list-v
                        each item in departments
                            li.drp-list-item
                                a(href='#')= item
            li.nav-item
                a(href='#') Download
            li.nav-item
                a(href='#') Help

        form.nav-form
            input.search.scaler
            i.material-icons.search-icon &#xE8B6;
        .icon-group-h.right
            i.material-icons.blue-icon &#xE0BE;

