//
   Created by itdwyy on 12/3/2016.
.wrapper-960.news-area
    #slick-container.slide-container
        #slick-left.slide-btn.big.left.center-v.zindexthetop
        #slick-right.slide-btn.big.right.center-v.zindexthetop
    #lastnews.right-new-panel
        ul#lastnews-tab.tabs
            li.tab
                a(href="#lastNews") Latest
            li.tab
                a(href="#lastNews") Top Read
        #lastnews-list.news-list.clearfix.clear
