//
   Created by itdwyy on 12/3/2016.
.wrapper-960.news-area
    #slick-container.slide-container.zindexnormal
        #slick-controler.slick-controler
    #lastnews.right-new-panel
        ul#lastnews-tab.tabs
            li.tab
                a(href="#lastNews") Latest
            li.tab
                a(href="#lastNews") Top Read
        #lastnews-list.news-list.clearfix.clear
