//
   Created by itdwyy on 12/18/2016.

#orslideshow
    .wrapper-960
        .slide-show-container-h
            a.slide-item(href='')
                .img
                    img(src='https://lh6.ggpht.com/hsjAgw3hlBCGucchdHNjMHhJzytGHBQmlgMhC0U0Yud7GemVh33-CTKnrQ=w228-h251-c-rw')
                .title
            a.slide-item(href='')
                .img
                    img(src='https://lh5.ggpht.com/PvDo9B5_Fp5UgT9AFT85x68BfKSiBC4hf1hx-88N3W8C2gt5i2TtCCV3UKg=w228-h251-c-rw')
                .title
            a.slide-item(href='')
                .img
                    img(src='https://lh5.ggpht.com/QQC75hbFUZ2KSFYD8qDzjhm8HmQBVjdOFHE97bcJnqHW_qeoSB2b_bvLTm0LUA=w228-h251-c-rw')
                .title
            a.slide-item(href='')
                .img
                    img(src='https://lh6.ggpht.com/LzAno8k5BJwIIvRXclaYHGQMptv0I-Mpg1_8ffCBAJFH1EJf9EOkDHjTzf-B=w228-h251-c-rw')
                .title
            a.slide-item(href='')
                .img
                    img(src='https://lh5.ggpht.com/JTAIVRcvmj0BrU0fR8lk8X9bj8hoErdlyx3k835utbZs87OOJyi2xGvWN1c=w228-h251-c-rw')
                .title

