//
   Created by itdwyy on 12/18/2016.

#orslideshow
    .wrapper-960
        .slide-show-container-h
            a.slide-item(href='')
                .img
                    img(src= '/news/img/bottom/13Dec2016.png')
                .title
            a.slide-item(href='')
                .img
                    img(src='/news/img/bottom/18OCT2016.png')
                .title
            a.slide-item(href='')
                .img
                    img(src='/news/img/bottom/21Feb2017.png')
                .title
            a.slide-item(href='')
                .img
                    img(src='/news/img/bottom/25OCT2016.png')
                .title
            a.slide-item(href='')
                .img
                    img(src='/news/img/bottom/CultureBridge.png')
                .title

