.card-h {
  @include relativeblock;
  text-decoration: none;
  @include clear;

  .txt {
    @include float-block;
    float: right;
    width: $txt-area-width;
    height: $txt-area-height;
    padding: $new-title-padding;
    @media screen and (max-width: $phone-width){
      width: 49.9%;
      padding: 0;
    }
    .title {

      @include clear;
    }
    .sub {
      @include clear;
    }
  }
  .img {
    @include float-block;
    width: $new-image-width;
    height: $new-image-height;
    overflow: hidden;
    float: left;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: $phone-width){
      width: 50%;
      //padding-top: $new-image-height/$new-image-width*100%;
    }
  }
}

.contact-group {
 @include relativeblock;
  margin: $contact-group-margin;
}