.contact-group {
  @include relativeblock;
  margin: $contact-group-margin;
  padding: $contact-group-padding;

  .title {
    padding-left: 5px;
    color: $contact-group-title-color;
    background-color: $contact-group-title-bk-color;
    font-size: $contact-group-title-font-size;
    font-weight: bold;
    border-left: 5px solid $company-theme-color;
  }
}

table.contact-table {
  margin-top: 30px;
  width: 100%;
  thead {
    th {
      text-align: left;
    }
  }
  tbody {
    tr.person {
      width: 100%;
      padding: $contact-person-padding;
      &:nth-child(odd){
        background-color: #f2f2f2;
      }
      td {
        display: table-cell;
        padding: 7.5px 0 7.5px 15px;
        span.name {
          font-weight: bold;
          display: block;
        }
        span.jobTitle {
          font-size: 12px;
          font-weight: normal;
        }
        span.tele,span.name,span.email {
          font-size: 13px;
        }
        span.email {
          a{
            font-size: 14px;
            text-decoration: none;
            color: color('grey','darken-4');
          }
        }
        span.td-office{
          font-size: 14px;
          text-decoration: none;
          display: block;
        }
      }
      td.td-name {
        width: 30%;
      }
      td.td-tele {
        width: 30%;
      }
      td.td-email {
        width: 39%;
      }
    }
  }
}