
.autoSearchList {
  position: absolute;
  display: block;
  width: 100%;
  background-color: inherit;
  &.nav-searchList {
    top: $nav-searchList-top;
  }
  &.pull-left {
    right: 0;
  }

  .resultItem {
    position: relative;
    display: block;
    padding: $autocompletItem-padding;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
    @include clearfix;
    .string,.num {
      position: relative;
      top: 0;
      display: block;
      float: left;
      height: 100%;
      width: 33%;
      padding: $autocompletInside-padding;
      word-wrap: break-word;
    }
    .bold {font-weight: bold}
    &:hover {
      color: #fff;
      background-color: #0D47A1;
      cursor: pointer;
    }
  }
}
