.menu-root {
  margin: 0;
  padding: $menu-root-padding;
  display: block;
  height: 100%;
  list-style: none;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .header {
    padding: $menu-root-header-padding;
    color: $menu-root-header-color;
    font-size: $menu-root-header-font-size;
    font-weight: bolder;
  }

  ul {
    margin: $menu-ul-margin;
    padding: $menu-ul-padding;
    li a{
      white-space: nowrap;
    }
  }
  .menu-sub {
    display: block;
    list-style: none;
    margin: $menu-sub-margin;
    padding: 0 0 0 15px;
    font-size: 14px;
    line-height: 20px;
    &.cur {
      display: block;
    }
  }
}



