.menu-header {
  padding: $menu-root-header-padding;
  color: $menu-root-header-color;
  font-size: $menu-root-header-font-size;
  font-weight: bolder;
}
.menu-root {
  margin: 0;
  padding: $menu-root-padding;
  display: block;
  height: 100%;
  list-style: none;
  a {
    text-decoration: none;
    cursor: pointer;
  }


  ul {
    margin: $menu-ul-margin;
    padding: $menu-ul-padding;
    li a{
      white-space: nowrap;
    }
  }
  .menu-sub {
    display: none;
    list-style: none;
    margin: $menu-sub-margin;
    padding: 0 0 0 15px;
    font-size: 14px;
    line-height: 20px;
    &.active {
      display: block;
      .section-link.active{
        color: $sectionr-link-active-color;
        border-left: $section-link-active-border-left;
      }
    }

    .section-link {
      display: block;
      color: $section-link-color;
      border: 2px solid transparent;
      padding: $section-link-padding;
    }
  }

}



