.menu-root {
  margin: 0;
  padding: $menu-root-padding;
  display: block;
  height: 100%;
  list-style: none;
  a {
    text-decoration: none;
  }
  .header {
    padding: $menu-root-header-padding;
    color: $menu-root-header-color;
    font-size: $menu-root-header-font-size;
    font-weight: bolder;
  }

  ul {
    margin: $menu-ul-margin;
    padding-left: $menu-ul-padding;
    li a{
      white-space: nowrap;
    }
  }

}



.menu-sub {
  display: none;
  list-style: none;
  padding: 0 0 0 25px;
  font-size: 15px;
  &.cur {
    display: block;
  }
}