.nav {
  position: fixed;
  display: block;
  clear: both;
  width: 100%;
  top: 0;
  height: $nav-height;
  border-bottom: $nav-bottom-border;
  background-color: white;
  @include clearfix;
  @include opacity(1);
}

.nav-logo {
  position: relative;
  left: 0;
  display: inline-block;
  width: $nav-logo-img-width;
  height: $nav-logo-img-height;
  margin: $nav-logo-img-margin;
}

.nav-list-h {
  position: relative;
  margin: 0 10px;
  padding: 0;
  display: block;
  width: 100%;
  &.second-nav {
    position: fixed;
    top: $nav-height;
    margin: 0;
    height: $nav-second-height;
    background-color: $nav-second-bg-color;

    & .nav-item a {
      color: $nav-second-color;
      line-height: $nav-second-item-line-height;
    }
  }
  .nav-item {
    display: block;
    float: left;
    &:hover > a {
      color: $nav-item-hover-color;
    }
    &.has-dropdown {
      &:hover {
        &>a{
          color: $drop-down-list-color;
        }
        background-color: $drop-down-list-bg-color;
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding: $nav-list-item-padding;
      color: $nav-item-color;
      line-height: $nav-list-line-height;
      white-space: nowrap;
      cursor: pointer;
      font-size: $nav-item-font-size;
      font-weight: bold;

    }
    //hover add cur
    &.cur {
      &, a {
        color: $nav-item-color-hover
      }
    }
    &.has-dropdown:hover ul.drp-list-v{
      display: block;
    }

  }
  .drp-list-v {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background-color: $drop-down-list-bg-color;
    //border: $drop-down-list-border;
    border-top: none;
    list-style: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    //&:before {
    //  content: "";
    //  position: absolute;
    //  top: -10px;
    //  left: 20px;
    //  border-left: 10px solid transparent;
    //  border-right: 10px solid transparent;
    //  border-bottom: 10px solid $drop-down-list-bg-color;
    //}

    .drp-list-item {
      &,li,a {
        line-height: $nav-second-height;
        font-size: $nav-item-font-size;
        padding: 0 7.5px;
        color: $drop-down-list-color
      }
      &:hover {
        background-color: $company-theme-color;
        a{
          color: color('grey','lighten-5');
        }
      }

    }
  }
}

.nav-form {
  position: relative;
  display: inline-block;
  margin: $nav-form-margin;
  padding: 0;
  width: $nav-form-width;
  height: $nav-form-height;
  vertical-align: top;
  input.search {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: $nav-form-ipt-height;
    margin-top: -$nav-form-ipt-height/2;
    padding: $nav-form-ipt-padding;
    font-size: $nav-form-ipt-font-size;
    border: none;
    border-radius: $search-ipt-border-radius;
    line-height: $nav-form-ipt-height;
    background-color: $search-ipt-background-color;
    &:focus {
      outline: none;
      background-color: $search-ipt-background-color;
    }
    &:hover {
      background-color: $search-ipt-background-hover;
    }
  }
}

.icon-group-h {
  display: inline-block;
  vertical-align: top;
  .materl-icons, i {
    line-height: $nav-height;
  }
}

.nav-list-v {
  width: 100%;
}