.nav {
  position: relative;
  display: block;
  clear: both;
  height: $nav-height;
  border-bottom: $nav-bottom-border;
  @include clearfix;
}

.nav-logo {
  position: relative;
  left: 0;
  display: inline-block;
  width: $nav-logo-img-width;
  height: $nav-logo-img-height;
  margin: $nav-logo-img-margin;
}

.nav-list-h {
  position: relative;
  margin: 0 10px;
  padding: 0;
  display: block;
  &.second-nav {
    position: relative;
    top: 0;
    margin: 0;
    height: $nav-second-height;
    background-color: $nav-second-bg-color;
    & .nav-item a {
      color: $nav-second-color;
      line-height: $nav-second-item-line-height;
    }
  }
  .nav-item {
    display: block;
    float: left;
    a {
      display: block;
      text-decoration: none;
      padding: $nav-list-item-padding;
      color: $nav-item-color;
      line-height: $nav-list-line-height;
      white-space: nowrap;
      cursor: pointer;
      font-size: $nav-item-font-size;
      font-weight: bold;
    }
    //hover add cur
    &.cur {
      &, a {
        color: $nav-item-color-hover
      }
    }
    &.has-dropdown:hover ul.drp-list-v{
      display: block;
    }

  }
  .drp-list-v {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background-color: $drop-down-list-bg-color;
    border: $drop-down-list-border;
    list-style: none;

    .drp-list-item {
      &,li,a {
        color: $drop-down-list-color
      }
    }
  }
}

.nav-form {
  position: relative;
  display: inline-block;
  margin: $nav-form-margin;
  padding: 0;
  width: $nav-form-width;
  height: $nav-form-height;
  vertical-align: top;
  input.search {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: $nav-form-ipt-height;
    margin-top: -$nav-form-ipt-height/2;
    padding: $nav-form-ipt-padding;
    font-size: $nav-form-ipt-font-size;
    border: none;
    border-radius: $search-ipt-border-radius;
    line-height: $nav-form-ipt-height;
    background-color: $search-ipt-background-color;
    &:focus {
      outline: none;
      background-color: $search-ipt-background-color;
    }
    &:hover {
      background-color: $search-ipt-background-hover;
    }
  }
}

.icon-group-h {
  display: inline-block;
  vertical-align: top;
  .materl-icons, i {
    line-height: $nav-height;
  }
}