.tabs {
  position: relative;
  height: $tabs-height;
  width: 100%;
  background-color: $tabs-bk-color;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  list-style: none;
  @include clearfix;
  .tab {
    @include float-block;
    text-align: center;
    line-height: $tabs-height;
    padding: 0;
    margin: 0;
    list-style-type: none;
    & a{
      display: block;
      width: 100%;
      height: 100%;
      padding: $tab-a-padding;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color .28s ease;
      background-color: transparent;
      color: $company-theme-color;
    }
  }
}
