.tabs {
  position: relative;
  display: block;
  height: $tabs-height;
  width: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  list-style: none;
  @include clearfix;
  .tab {
    //@include float-block;
    display: inline-block;
    text-align: center;
    line-height: $tabs-height;
    padding: 0;
    margin: 0;
    list-style-type: none;
    & a{
      display: block;
      width: 100%;
      height: 100%;
      margin: $tab-margin;
      padding: $tab-a-padding;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color .28s ease;
      background-color: transparent;
      color: $company-theme-color;
      &:first-child {
        margin: 0;
      }
    }
  }
  &.company-theme-bk {
    a {color: $bk-white;}
  }

  .indicator {
    position: absolute;
    display: block;
    bottom: 0;
    height: 2px;
    background-color: $company-theme-color;
    will-change: left, right;
  }
  &.company-theme-bk .indicator{
    background-color: $bk-white;
  }
}

.tab-control {
  position: relative;
  box-sizing: border-box;
  display: none;
  margin-left: auto;
  left:auto;
  right:auto;
  padding: 15px 5px;
  background-color: $bk-white;
  &.active {
    display: block;
  }
  ul.apiList {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix;
    li.list-item {
      @include float-block;
      width: 33%;
    }
  }
  .list-item {
    & a {
      line-height: 20px;
      font-size: 15px;
      font-weight: bold;
      color: $company-theme-color;
      text-decoration: none;
    }
  }
}

