//0 color:
$company-theme-color: #292059;
$company-theme-red: #ef1828;
$company-theme-black: 291d0f;
$company-theme-dark-red: #882d49;
$company-theme-lighter-black: #091423;
$second-bck-color: color('grey','lighten-4');

$company-theme-color-darken-20: darken($company-theme-color,20%);
$bk-white: #fff;


//z-index
$z-index-the-top: 1000;
$z-index-second: 500;
$z-index-normal: 100;

//1.Navigation
$nav-height: 60px;
$nav-bottom-border: none;
//nav-logo
$nav-logo-img-height: 36px;
$nav-logo-img-width: floor($nav-logo-img-height*3.81);
$nav-logo-img-margin: floor(($nav-height - $nav-logo-img-height)/2) 0;
//nav-list
$nav-list-height: $nav-height;
$nav-line-height: $nav-list-height;
$nav-list-item-padding: 0 5px;
$nav-list-line-height: $nav-list-height;
$nav-item-font-size: 14px;
$nav-item-color: color('grey','darken-1');
$nav-item-hover-color: darken(#fafafa,15%);
$nav-item-color-hover: color('grey','darken-3');
$nav-second-height: floor($nav-height/1.618);
$nav-second-item-line-height: $nav-second-height;
$nav-second-bg-color: $company-theme-color;
$nav-second-color: color('grey','lighten-5');
$drp-list-item-border: 2px solid transparent;
$drp-list-item-border-hover: 2px solid $company-theme-color;
//nav-form
$nav-form-height: $nav-height;
$nav-form-width: 200px;
$nav-form-ipt-height: 30px;
$nav-form-ipt-padding: 3px 8px 3px 40px;
$nav-form-margin: 0 50px 0 0;
$nav-form-ipt-font-size: 13px;
$search-icon-font-size: 20px;
$search-icon-top: ($nav-form-height - $nav-form-ipt-height + $search-icon-font-size/2)/2;
$search-icon-left: 5px;
$search-form-color: color('grey','darken-1');
$search-ipt-background-color: color('grey','lighten-3');
$search-ipt-background-hover: color('grey','lighten-2');
$search-ipt-border-radius: floor($nav-form-ipt-height/2);
$resultItem-border-bottom: 1px solid color('grey','lighten-2');
$resultItem-font-size: 13px;

//Tabs
$tabs-height: 36px;
$tabs-bk-color: white;
$tab-margin: 0 0 0 12px;
$tab-a-padding: 0 24px;

//icon
$blue-icon-bg-color: color('blue','darken-1');
//drop-down-list
$drop-down-list-bg-color:color('grey','lighten-4');;
$drop-down-list-border: 1px solid #ccc;
$drop-down-list-color: $company-theme-color;

//input
$nav-searchList-top: $nav-height;
//auto complete
$autocompletItem-padding: 7.5px 5px;
$autocompletInside-padding: 0 5px;
$autocomplet-bck-color: color('grey','lighten-5');


//pages
$news-area-margin-top: floor(($nav-height+$nav-second-height)/1.618/1.618/1.618) + $nav-height +$nav-second-height + 20;
$slide-image-width: 550px;
$slide-image-height: 385px;
//custom  number of slide images
$slide-num : 8;
$slide-container-width: $slide-image-width * $slide-num;
//title
$slick-title-color: color('grey','lighten-5');
$slick-title-background-color: color('grey','darken-3');
$slick-title-background-opacity: .8;
$slick-title-font-size: 20px;
$slick-title-height: 80px;
$slick-title-padding: 15px 5px;
//sub
$slick-sub-font-size: 14px;
//for ie6
$right-news-panel-width: 960 - $slide-image-width - 0.01;
$right-news-panel-height: $slide-image-height;


//news-area
$news-area-padding-left: 30px;
$news-area-padding-bottom: 40px;
//news txt width
$news-txt-width: 260px;
//new images width
$new-image-width: 149.99px;
$new-image-height: 98px;
//slide-tab
$slide-tab-bar-height: 16px;
$slide-tab-padding: 0 20px;
//slick dots
$slick-dots-padding: 10px 20px;
$dot-margin: 0 2px;
$dot-btn-width: 0;
$dot-btn-height: 0;
$dot-btn-padding: 6px;
$dot-btn-border-radius: 15px;
$dot-btn-background-color: color('grey','lighten-5');
$dot-btn-cur-background-color: color('blue','darken-4');
//card news
$card-padding: 11px 0;
$txt-area-width: 230px;
$txt-area-height: $new-image-height;
$title-font-size: 16px;
$new-title-padding: 0 0 0 15px;
$title-line-height: $slide-tab-bar-height;

$slick-sub-padding: 15px 5px;
//or-slide-show
$or-container-padding: 30px 0 30px 0;
$or-slide-item-width: 180px;
$or-slide-item-margin-left: floor((960-$or-slide-item-width*5)/5);


//button slide-btn
$slide-btn-width-big: 48px;
$slide-btn-height-big: 48px;
$slide-btn-width-sm: 24px;
$slide-btn-height-sm: 24px;
$slide-btn-bck-color: color('grey','lighten-5');


//telephone
$menu-root-header-font-size: 18px;
$menu-root-header-padding: 7.5px 0;
$menu-root-header-color: $company-theme-color;
$menu-root-padding: 5px 0 0 0;
$menu-ul-margin: 10px 0 0 0 ;
$menu-ul-padding: 0 0 0 15px;

//menu sub
$menu-sub-margin: 0;


$contact-group-margin: 45px 0 0 10px;
$contact-group-padding: 0 15px;
$contact-person-padding: 15px 0;
$contact-group-title-color: $company-theme-color;
$contact-group-title-bk-color: none;
$contact-group-title-font-size: 18px;
$person-margin: 10px 0;
$sidebar-width: 300px;
$sidebar-padding: 5px 0 100px 5px;
$sidebar-link-padding: 0;
$sidebar-link-color: color('grey','darken-3');
$sidebar-link-bk-color: color('blue','lighten-5');
$sidebar-link-border: 2px solid transparent;
$sidebar-link-border-hover: 2px solid $company-theme-color;
$sidebar-active-color: $company-theme-color;
$sidebar-hover-color: lighten($company-theme-color,10%);
$section-link-color: #424242;
$section-link-padding: 0 7.5px;
$sectionr-link-active-color: $company-theme-color;
$sectionr-link-hover-color: lighten($company-theme-color,10%);
$section-link-active-border-left: 2px solid $sectionr-link-active-color;

//footer
$default-footer-color: $nav-second-color;
$default-footer-bk-color: $company-theme-color;

//popbox
$popbox-width: 500px;
$popbox-title-font-size: 18px;
$popbox-title-background-color: color('grey','lighten-2');
$popbox-font-color: $company-theme-color;
$popbox-title-padding: 15px 5px 5px 25px;
$popbox-content-padding: 15px 25px 10px 25px;
$cover-bk-color: color('grey','darken-4');
$popbox-bk-color: color('grey','lighten-5');