.slide-container {
  display: block;
  @include float-block;
  overflow: hidden;
  .img-list {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    @include clearfix;
  }
  .slide-images {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    @include clearfix;
    .img {
      display: block;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
}


.slide-show-container-h {
  @include relativeblock;
  @include clearfix;
  .slide-item {
    position: relative;
    text-decoration: none;
    @include float-block;
    .img,img {
      width: 100%;
      height: 100%;
    }
  }
}