@import "../components/mixins";
//values

//sidebar
$sidebar-width: 320px;
$sidebar-padding: 40px 0 30px 60px;

.sidebar {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: $sidebar-width;
  padding: $sidebar-padding;
  @include clearfix;
}
.main-content {
  position: fixed;
  display: block;
  float: left;
  margin-left: $sidebar-width;
}

#Admin,#Information-Technology {
  margin-top: 500px;
}

#contacts-content {
  @include float-block;
  @include clearfix;
  min-height: 1px;
  width: 629px;
}