@import "../components/mixins";
//values

//sidebar

.sidebar {
  position: fixed;
  display: block;
  float: left;
  height: 100%;
  top: $nav-height +$nav-second-height;
  width: $sidebar-width;
  @include clearfix;
  overflow-y: scroll;

}
.main-content {
  position: fixed;
  display: block;
  float: left;
  margin-left: $sidebar-width;
}



#Admin,#Information-Technology {
  margin-top: 500px;
}

#contacts-content {
  @include float-block;
  @include clearfix;
  min-height: 1px;
  margin-left: $sidebar-width;
  width: 629px;
}

#contacts-content {
  top: $nav-height + $nav-second-height;
  margin-bottom: 150px;
}