@import "../components/mixins";
//values

.tele-content.wrapper-960 {
  margin-top: 97px;
}

//sidebar

.sidebar {
  position: fixed;
  display: block;
  float: left;
  height: 100%;
  //top: $nav-height +$nav-second-height;
  width: $sidebar-width;
  padding: $sidebar-padding;
  @include clearfix;
  overflow-y: scroll;

}
.main-content {
  position: fixed;
  display: block;
  float: left;
  margin-left: $sidebar-width;
}



#Admin,#Information-Technology {
  margin-top: 500px;
}

#contacts-content {
  @include float-block;
  @include clearfix;
  min-height: 1px;
  margin-left: $sidebar-width;
  width: 629px;
  @media screen and (max-width: $phone-width) {
    margin: 0 auto;
    width: 100%;
    min-width: $iphone-6-width;
  }
}

#contacts-content {
  //top: $nav-height + $nav-second-height;
  margin-bottom: 150px;
}